In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./excel capstone datasci.xlsx..csv")
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,04-May,Left wheel,Silver,4

<h1 align='center'>Preprocessing</h1>

In [4]:
df.isnull().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [5]:
result1 = df[df['Levy'] == '-']
result1.shape

(5819, 18)

In [6]:
df.replace('-', np.nan,inplace=True)

In [7]:
df.fillna(0, inplace=True)
df.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,0,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,04-May,Left wheel,Silver,4
5,45802912,39493,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4,Automatic,Front,04-May,Left wheel,White,4
6,45656768,1803,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4,Automatic,Front,04-May,Left wheel,White,12
7,45816158,549,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4,Automatic,Front,04-May,Left wheel,Grey,12
8,45641395,1098,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4,Automatic,Front,04-May,Left wheel,Black,12
9,45756839,26657,0,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6,Automatic,4x4,04-May,Left wheel,Silver,12

In [8]:
def split(X):
    X=str(X)
    X=X.split(" ")[0]
    return float(X)
df['Engine volume']=df['Engine volume'].apply(lambda X: split(X)) 
df['Mileage']=df['Mileage'].apply(lambda X: split(X)) 
df['Mileage'].astype('int64')
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005.0,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000.0,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,0,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000.0,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966.0,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901.0,4,Automatic,Front,04-May,Left wheel,Silver,4

In [9]:
df['Leather interior'] = df['Leather interior'].apply(lambda x: 0 if x == 'No' else 1)
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,1,Hybrid,3.5,186005.0,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,0,Petrol,3.0,192000.0,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,0,HONDA,FIT,2006,Hatchback,0,Petrol,1.3,200000.0,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,1,Hybrid,2.5,168966.0,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,1,Petrol,1.3,91901.0,4,Automatic,Front,04-May,Left wheel,Silver,4

In [10]:
dummy = pd.get_dummies(df[['Manufacturer','Model','Category','Fuel type','Gear box type','Drive wheels','Doors','Wheel','Color']],drop_first=True,dtype=int)

In [11]:
dummy.shape

(19237, 1692)

In [12]:
df= pd.concat([df, dummy],axis=1)
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,1,Hybrid,3.5,...,0,0,0,0,0,0,1,0,0,0
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,0,Petrol,3.0,...,0,0,0,0,0,0,0,0,0,0
2,45774419,8467,0,HONDA,FIT,2006,Hatchback,0,Petrol,1.3,...,0,0,0,0,0,0,0,0,0,0
3,45769185,3607,862,FORD,Escape,2011,Jeep,1,Hybrid,2.5,...,0,0,0,0,0,0,0,0,1,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,1,Petrol,1.3,...,0,0,0,0,0,0,1,0,0,0

In [13]:
df.drop(['Manufacturer','Category','Fuel type','Gear box type','Drive wheels','Doors','Wheel','Color','ID'],axis=1,inplace=True)

In [14]:
df.drop(['Model'],axis=1,inplace=True)
df.head()

,Price,Levy,Prod. year,Leather interior,Engine volume,Mileage,Cylinders,Airbags,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,13328,1399,2010,1,3.5,186005.0,6,12,0,0,...,0,0,0,0,0,0,1,0,0,0
1,16621,1018,2011,0,3.0,192000.0,6,8,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8467,0,2006,0,1.3,200000.0,4,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3607,862,2011,1,2.5,168966.0,4,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,11726,446,2014,1,1.3,91901.0,4,4,0,0,...,0,0,0,0,0,0,1,0,0,0

In [15]:
df.to_csv('mydata.csv')

<h1 align='center'>Normalize the data</h1>

In [16]:
from sklearn.preprocessing import normalize

In [17]:
columns = df.columns
df_n = normalize(df)
df_n

array([[7.14645845e-02, 7.50142210e-03, 1.07775972e-02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [8.62392540e-02, 5.28196622e-03, 1.04342181e-02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.22949898e-02, 0.00000000e+00, 1.00205208e-02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [2.18884088e-01, 7.00885161e-03, 1.68514255e-02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.03334735e-01, 2.49662613e-02, 3.89031727e-02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.51423033e-03, 4.02811795e-03, 1.07630456e-02, ...,
        0.00000000e+00, 5.34942623e-06, 0.00000000e+00]])

In [18]:
scaled_df = pd.DataFrame(df_n, columns=columns)
scaled_df.head()

,Price,Levy,Prod. year,Leather interior,Engine volume,Mileage,Cylinders,Airbags,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,0.071465,0.007501,0.010778,0.000005,0.000019,0.997357,0.000032,0.000064,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.0,0.000000,0.0
1,0.086239,0.005282,0.010434,0.000000,0.000016,0.996206,0.000031,0.000042,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
2,0.042295,0.000000,0.010021,0.000000,0.000006,0.999055,0.000020,0.000010,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,0.021341,0.005100,0.011898,0.000006,0.000015,0.999688,0.000024,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000006,0.0
4,0.126536,0.004813,0.021733,0.000011,0.000014,0.991712,0.000043,0.000043,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000011,0.0,0.000000,0.0

In [19]:
df_n=scaled_df[['Price','Levy','Prod. year','Leather interior','Engine volume','Mileage','Cylinders','Airbags']]
df_n.head()

,Price,Levy,Prod. year,Leather interior,Engine volume,Mileage,Cylinders,Airbags
0,0.071465,0.007501,0.010778,0.000005,0.000019,0.997357,0.000032,0.000064
1,0.086239,0.005282,0.010434,0.000000,0.000016,0.996206,0.000031,0.000042
2,0.042295,0.000000,0.010021,0.000000,0.000006,0.999055,0.000020,0.000010
3,0.021341,0.005100,0.011898,0.000006,0.000015,0.999688,0.000024,0.000000
4,0.126536,0.004813,0.021733,0.000011,0.000014,0.991712,0.000043,0.000043

In [20]:
df.drop(['Price','Levy','Prod. year','Leather interior','Engine volume','Mileage','Cylinders','Airbags'],axis=1,inplace=True)

In [21]:
df_final = pd.concat([df_n,df],axis=1)
df_final.head()

,Price,Levy,Prod. year,Leather interior,Engine volume,Mileage,Cylinders,Airbags,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,0.071465,0.007501,0.010778,0.000005,0.000019,0.997357,0.000032,0.000064,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0.086239,0.005282,0.010434,0.000000,0.000016,0.996206,0.000031,0.000042,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.042295,0.000000,0.010021,0.000000,0.000006,0.999055,0.000020,0.000010,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.021341,0.005100,0.011898,0.000006,0.000015,0.999688,0.000024,0.000000,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0.126536,0.004813,0.021733,0.000011,0.000014,0.991712,0.000043,0.000043,0,0,...,0,0,0,0,0,0,1,0,0,0

<h1 align='center'>Training</h1>

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [23]:
x=df_final
y=df_final['Price']

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=42)

In [25]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [26]:
model.score(x_test,y_test)

0.9999999974876752

<h1 align='center'>Hyper Parameter Tuning</h1>

In [27]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
model_params = {
    'Linear Regression': {
        'model': LinearRegression(),
        'params' : {}  
    },
    'Lasso': {
        'model': Lasso(),
        'params' : {
            'alpha': [1,5,10]
        }
    },
    'Ridge' : {
        'model': Ridge(),
        'params': {
            'alpha': [1,5,10]
        }
    },
    'SVR' : {
        'model': SVR(),
        'params': {
            'kernel':['linear','poly','rbf','sigmoid'],
            'C': [1,5,10]
        }
    },
    'DecisionTreeRegressor' : {
        'model': DecisionTreeRegressor(),
        'params': {
            'criterion': ['squared_error', 'friedman_mse', 'absolute_error', 'poisson']
        }
    },
    'KNeighborsRegressor' : {
        'model': KNeighborsRegressor(),
        'params': {
            'n_neighbors': [3,5,7,10]
        }
    },
    'RandomForestRegressor' : {
        'model': RandomForestRegressor(),
        'params': {
            'n_estimators': [50,100,150]
        }
    }
}

In [28]:
from sklearn.model_selection import GridSearchCV
scores=list()
for model,mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'],cv=5)
    clf.fit(x,y)
    scores.append({
        'model':model,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
    })

In [34]:
df_scores=pd.DataFrame(scores,columns=['model','best_score','best_params'])
df_scores.sort_values(by=['best_score'],ascending=False)

                   model  best_score                    best_params
0      Linear Regression    1.000000                             {}
6  RandomForestRegressor    1.000000          {'n_estimators': 150}
4  DecisionTreeRegressor    0.999999  {'criterion': 'friedman_mse'}
2                  Ridge    0.999994                   {'alpha': 1}
3                    SVR    0.952521     {'C': 5, 'kernel': 'poly'}
5    KNeighborsRegressor    0.694054             {'n_neighbors': 3}
1                  Lasso   -0.000309                   {'alpha': 1}